@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";


.group{
  width: calc(57% - 10px) ;
  @include column;
}
.blok{
  @include widthHeight;
  @include spaceBetween;
  padding-bottom: 20px;
}
.blok1{
  width: 100%;
  @include spaceBetween;
}
.saleWrapper{
  width:calc(35% - 10px);

  .sale{
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: $firstColor;
    @include column;
    color: white;
    .saleTxt{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0 0 26px;
    }
  }
}
.count{
  width: 160px;
  @include spaceBetween;
  align-items: center;
  .number{
    font-size: 90px;
  }
  .iconPrsent{
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px){
  .roseCard:first-child{
    //display: none;
  }
  .group{
    width: calc(32% - 10px);
    //flex-direction: unset;
  }
  .blok{
    padding: 0;
    //display: none;
    .roseCard{
      display: none;
    }
  }
.blok1{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  .saleWrapper{
    width: 100%;
    .sale{
        width: 100%;
      height: 220px;
        margin-left: 10px;
        margin-top: 20px;
      .saleTxt{
        text-align: center;
        .count{
          text-align: center;
        }
      }
    }
  }
}
}
@media screen and (max-width: 700px){

  .group{
    width: 100%;
    margin-top: 20px;
    .blok1{
      display: flex!important;
      flex-direction: initial;
      align-items: unset !important;
        .saleWrapper{
         width: 100%;
          .sale{
            width: 100%;
            margin: 0;
          }
      }
    }
  }
}