@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

.products{
  width: $contentWidth;
  @include column;
  margin: 0 auto;
  padding:40px 0;
}
.nav{
  width: 300px;
  @include spaceBetween;
  color: $liteColor;
  margin-bottom: 30px;
}
.product{
  width: 100%;
  @include spaceBetween;
}
.group{
  width:100% ;
  @include column;
  border: 1px solid $liteColor;
}
.total{
 @include column;
}
.remov{
  margin-left: auto;
  color: $redColor;
  padding: 30px;
  cursor: pointer;
}
.blok{
  @include spaceBetween;
  border-bottom: 1px solid $liteColor;
  height: 86px;
  width: 100%;
  .rose{
    width: 34%;
    @include itemsCenter;
    @include spaceBetween;
    svg{
      margin-left: 20px;
      width: 60px;
      height: 60px;
    }
    .text{
      width: 160px;
      font-weight: bold;
      span{
        color: #A7A7A7;
        text-decoration:line-through;
        margin-left: 4px;
      }
    }
  }
  .delet{
    width: 50%;
    @include spaceBetween;
    @include itemsCenter;
    margin-right: 10px;
    .number{
      background-color: $greybgColor;
      width: 140px;
      height: 40px;
      @include itemsCenter;
      padding: 10px;
      span{
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .price{
      color: $ferstColor;
    }
    .icon{
      font-size: 12px;
      cursor: pointer;
    }
    svg:hover{
      color: $redColor;
    }
  }
}


.summery{
  height: 500px;
  @include column;

  border: 1px solid $liteColor;
  background-color: $greybgColor;
  .name{
    font-size: 15px;
    padding: 20px 20px 0;
  }
  .orderPlace{
    width: 340px;
    height: 360px;
    margin: 20px;
    padding: 30px 0;
    background-color: white;
    @include column;
    align-items: center;
  }
  .totalPrice{
    width: 280px;
    @include spaceBetween;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .amount{
    width: 280px;
    height: 40px;
    @include spaceBetween;
    span{
      color: $greyColor;
    }
    //.line{
    //  border: dotted 1px $greyColor;
    //}
    p{
      font-weight: bold;
    }
    .colorRed{
      color: $ferstColor;
    }
  }
  .btnOrder{
    width: 280px;
    height: 46px;
    background-color: $ferstColor;
    border: 0;
    color: white;
  }
  .txt{
    width: 280px;
    color: $greyColor;
    font-size: 10px;
    margin-top: 20px;
  }
}
@media screen  and (max-width: 1024px){
.products{
  width: 100%;
  @include column;
  margin: 0 auto;
  padding: 20px;
}
  .product{
    width: 100%;
    @include column;
  }
  .summery{
    width: 100%;
    @include itemsCenter;
  }
  .orderPlace{
    width: 100%;
  }

}