@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

.products{
  width: $contentWidth;
  margin: 0 auto;
  .nav{
    width: 100%;
    @include spaceBetween;
    color: $lightColor;
    margin-bottom: 20px;
    &:hover{
      cursor: pointer;
      color: $firstColor;
    }
  }
  .wallpaper{
    width: 100%;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    .textGroup{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 30px;
      .textTitle{
        font-weight: bold;
        font-size: 30px;
      }
      .text{
        font-size: 15px;
        margin-top: 20px;
        width: 70%;
        height: 30%;
      }
      .textBtn{
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;
        color:$firstColor;
        svg{
          display: flex;
          align-items: center;
          margin-left: 5px;
          path{
            fill: $firstColor;
          }
        }
      }
    }
  }
  .selectGroup{
    width:100%;
    margin: 0 auto;
    .filterGroup{
      margin-top: 30px;
      width: 100%;
      height: 100%;
      border: 1px solid $lightColor;
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      .sortBlock{
        width: 80%;
        height: 100%;
        border-left: 1px solid $lightColor;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen  and (max-width: 1024px){

 .products{
   width: 100%;
   margin-top: 80px;
   padding: 20px;
   .nav{
     width: 100%;
   }
   .wallpaper{
     width: 100%;
     .textGroup{
       width: 50%;
       height: 100%;
       position: absolute;
       top: 10px;
       bottom: 0;
       .textTitle{
         font-size: 30px;
         height: 40px;
         overflow: hidden;
       }
       .text{
         margin-top: 6px;
         height: 66px;
         overflow: hidden;
       }
     }
   }
   .sortBlock{
     width: 70%;
   }
 }
}
@media screen and (max-width: 700px){
  .wallpaper{
    width: 100%;
    .textGroup{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 10px;
      bottom: 0;
      .textTitle{
        font-size: 20px!important;
        height: 24px!important;
        overflow: hidden;
      }
      .text{
        margin-top: unset;
        height: 40px!important;
        overflow: hidden;
      }
    }
  }
  .products{
    .selectGroup{
      .filterGroup{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sortBlock{
          width: 100%;
          border-top: 1px solid $greyBorderColor;
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .wallpaper{
    width: 100%;
    .textGroup{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 10px;
      bottom: 0;
      .textTitle{
        font-size: 20px!important;
        height: 24px!important;
        overflow: hidden;
      }
      .text{
        display: none;
      }
    }
  }
}