@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

.list{
  width:$contentWidth;
  height: 100%;
  margin: 0 auto;
}

.slider{
  @include widthHeight;
  display: flex;
  margin-top: 30px;

  .heart {
    width: 100%;
    height: 40px;
    margin-top: 18px;
    position: relative;
    svg{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
    }
  }
  .rose{
    width: 160px;
    height: 160px;
  }
  .text{
    width: 204px;
    height: 90px;
    @include column;
    align-items: baseline;
    margin-top: 30px;
    div{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .price{
      color: $redColor;
      font-size: 20px;
    }
    .price2{
      color: #A7A7A7;
      text-decoration:line-through;
      margin-left: 4px;
    }
    .sale{
      background-color: $redColor;
      margin-left: 10px;
      padding: 3px;
      width: 30px;
      height: 15px;
      color: $secondColor;
    }
  }
}
.blok{
  width: 250px;
  height: 400px;
  border-left: $whiteColor solid 1px;

}
.blok4,.blok2,.blok3,.blok1,.blok{
  /*
  todo
   height ֆիքսել պետք չի
  */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include column;
  align-items: center;
  border-right: $whiteColor solid 1px;
  border-top: $whiteColor solid 1px;
  border-bottom: $whiteColor solid 1px;
  &:hover{
    overflow: hidden;
    transition: none;
    transform-origin:top;
    transform: scale(1.05);
    box-shadow: 3px 10px 7px $whiteColor;
  }
  .price3{
    font-size: 18px;
  }
  .btn{
    width: 204px;
    height: 36px;
    margin: 15px 0;
    border: 0;
    font-size: 18px;
    @include itemsCenter;
    cursor: pointer;
    &:hover{
      background-color: $firstColor;
      color: white;
      transition: inherit;
      svg{
        path{
          fill: white;
        }
      }
    }
    svg{
      width:22px;
      height: 22px;
      margin:0 10px 0 40px;
    }
  }
  .icon{
    width: 100%;
    height: 40px;
    margin-top: 18px;
    position: relative;
    @include spaceBetween;
    .heart2{
      svg{
        position: absolute;
        right: 20px;
        width: 20px;
        height: 20px;
      }
    }
    .news{
      width: 70px;
      height: 21px;
      position: absolute;
      background-color:$greenColor;
      color: white;
      padding-left: 10px;
    }
  }
}

.more{
  display: none;
}
@media screen and (max-width: 1024px){
    .list{
      @include widthHeight;
      margin: 0 auto;
      .header{
        @include widthHeight;
        padding: 20px;
        @include spaceBetween;
        align-items: baseline;
        .more{
          @include itemsCenter;
          color: $firstColor;
          font-size: 20px;
        }
      }
      .slider{
        @include widthHeight;
        padding: 20px;
        .blok4{
          display: none;
        }
      }
    }


}
@media screen and (max-width: 840px){
  .blok3{
    display: none;
  }
  .blok,.blok1,.blok2{
    margin: 0 auto;
  }
}
@media screen and(max-width: 640px){

  .slider{
  @include spaceBetween;
  }
  .blok2{
    display: none;
  }
}
@media screen and (max-width: 440px){
  .blok1{
    display:none;
  }
  .blok{
   margin: 0 auto;
  }
}