@font-face {
  font-family: SF-Bold;
  src: url("SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: SF-Heavy ;
  src: url("SF-Pro-Text-Heavy.otf");
}

@font-face {
  font-family: SF-Medium ;
  src: url("SF-Pro-Text-Medium.otf");
}
@font-face {
  font-family: SF-Regular ;
  src: url("SF-Pro-Text-Regular.otf");
}

