@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";
@import "../../assets/fonts/fonts";

.forgotPassword{
  width: 50%;
  height: 640px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .forgotPasswordBlock{
    width: 66%;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid $greyBorderColor;
    .forgotPasswordGroup{
      width: 90%;
      padding: 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      input{
        padding-left: 10px;
      }
      .head {
        font-family: SF-Regular;
        margin: 0 auto;
        padding-bottom: 26px;
      }

      .title {
        margin: 0 auto;
        font-size: 20px;
        font-family: SF-Bold;
      }
      .emailInput {
        border-radius: 3px;
        width: 100%;
        height: 44px;
        border: 1px solid $lightColor;
        :checked {
          border: 6px solid black;
        }
      }
      .emailInput:focus {
        outline: none;
        border: 2px solid $firstColor;
      }
      .btnForgotPassword{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        cursor: pointer;
        font-family: SF-Bold;
        width: 100%;
        height: 46px;
        background-color: $firstColor;
        border: 0;
        color: white;
        &:hover{
          transition: all 0.3s ease-in-out;
          transform: scale(1.05);
        }
      }
      input:placeholder-shown {
        padding: 8px;
      }
      input::placeholder{
        font-family: SF-Medium;
      }
    }
  }
  .accountText{
    margin: 16px 0 16px 0;
    font-size: 14px;
    font-family: SF-Bold;
    color: $greyTextColor;
    span{
      cursor: pointer;
      color: $firstColor;
    }
  }
}
@media screen and (max-width: 1024px){
  .forgotPassword{
    width: 80%;
    height: 568px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .forgotPasswordBlock{
      width: 90%;
    }
  }
}
@media screen and (max-width: 700px){
  .forgotPassword{
    width: 100%;
    .accountText{
      width: 80%;
      text-align: center;
    }
  }
}