@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

.firstRose{
  .textSlider{
    position: absolute;
    bottom: 30px;
    color: white;
    z-index: 10;
    left: 20px;
    display: flex;
    flex-direction: column;
    .btnSlider{
      cursor: pointer;
      padding-top: 10px;
      display: flex;
      align-items: center;
      svg{
        margin-left: 10px;
        polygon{
          fill: white;
        }
      }
    }
  }
}
