@import "../../../assets/styles/mixins";
@import "../../../assets/styles/varieibls";
@import "../../../components/roseSlider/roseslider.module";

.offer{
  width: $contentWidth;
  height: 100%;
  padding-top: 40px;
  @include column;
  margin: 0 auto;
}
.list{
  width: $contentWidth;
  @include spaceBetween;
}

.rose{
  position: relative;
  width: 33%;
  img{
    width: 100%;
    height: 240px;
  }
}

.txt{
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 100%;
  @include spaceBetween;
  height: 74px;
  color: white;

  .icon{
    margin-left: auto;
  }
  .seeBtn{
    width: 100%;
    height: 70px;
    margin-top: 7px;
    @include itemsCenter;
    border: 0;
    background-color: transparent;
  }
}
.hello{
  display: none;
}

.roseSlideGroup{
  position: relative;
  width: calc(43% - 10px);
}
.responsiveRose{
  display: none;
}
.roseItem{
  width: 30%;

}
@media screen and(max-width: 1024px){
  .offer{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .list{
    width: 100%;
  }
  .rosers{
    display: none;
  }
  .block1{
    @include column;
  }
  .text{
    width: 80%;
  }
  .roseSlideGroup{
    width: calc(70% - 10px);
  }
  .group{
    width: 35%;
    display: flex;
    margin: auto;
  }
  .responsiveRose{
    width: 100%;
    margin-top:20px ;
    position: relative;
    display: flex;
    img{
      width: 100%;
    }
  }
  .responsiveText{
    position: absolute;
    height: 74px;
    @include column;
    bottom: 8px;
    left: 16px;
    .responsiveBtn{
      width: 100%;
      height: 70px;
      @include itemsCenter;
      border: 0;
      background-color: transparent;
    }
  }
  .rose{
   @include widthHeight;
  }
  .sale{
    width: 100%;
    height: 240px;
  }
  .roseGroup{
    display: none;
  }
}
@media screen and (max-width: 700px){
  .list{
    width: 100%;
   @include column;
  }
  .group{
    @include spaceBetween;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
  }
  .sale{
    display: flex;
    width: 50%;
  }
  .roseSlideGroup{
    width: 100%;
  }
  .block{
    width: 50%;
    padding-right: 20px;
    .rose{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  .block1{
    width: 50%;
    .sale{
      width: 100%;
      height: 240px;
      img{
        width: 100%;
      }
    }
  }
}