@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

.offer{
  width: $contentWidth;
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.list{
  width: $contentWidth;
  display: flex;
  justify-content: space-between;
}
.group{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blok{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.blok1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.text{
  width: 100%;
  height: 74px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 8px;
  left: 16px;
  .btn{
    width: 100%;
    margin-top: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
  }
}
.work{
  font-size: 16px;
}
.rosers{
    position: relative;
    width: 65%;
    height: 240px;
  img{
    width: 100%;
    height: 100%;
  }

}
.roseGroup{
  position: relative;
  width: 65%;
  height: 240px;
  img{
    width: 100%;
    height: 100%;
  }
}
.rose{
  position: relative;
  width: 33%;
  img{
    width: 100%;
    height: 240px;
  }
}
.sale{
  width: 32%;
  height: 240px;
  @include color;
  display: flex;
  flex-direction: column;
  color: white;
}
.txt{
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 74px;
  color: white;

  .icon{
    margin-left: auto;
  }
  .seeBtn{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
  }
}

.count{
  width: 160px;
  margin-top: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .number{
    font-size: 90px;
  }
  .iconPrsent{
    font-size: 40px;
  }
}
.saleTxt{
  padding-top: 20px;
  margin: 0 auto;
}
.firstRose{
  position: relative;
  width: 38%;
  height: 500px;
  img{
    width: 100%;
    height: 100%;
  }
}
.responsivRose{
  display: none;
}
@media screen and(max-width: 1024px){
  .offer{
    width: 100%;
    padding-left: 20px;
  }
  .list{
    width: 100%;
  }
  .rosers{
    display: none;
  }
  .blok1{
    display: flex;
    flex-direction: column;
  }
  .firstRose{
    width: 60%;
  }
  .group{
    width: 35%;
    display: flex;
    margin: auto;
  }
  .responsivRose{
    width: 100%;
    margin-top:20px ;
    padding-right: 20px;
    position: relative;
    display: flex;
    img{
      width: 100%;
    }
  }
  .responsivText{
    position: absolute;
    width: 100%;
    height: 74px;
    display: flex;
    flex-direction: column;
    bottom: 8px;
    left: 16px;
    .responsivBtn{
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      border: 0;
      background-color: transparent;
    }
  }
  .rose{
    width: 100%;
    height: 100%;
  }
  .sale{
    width: 100%;
    height: 100%;
  }
  .roseGroup{
    display: none;
  }
}
@media screen and (max-width: 700px){
  .list{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .group{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .sale{
    display: flex;
    width: 50%;
  }
  .firstRose{
    width: 100%;
  }
  .rose{
    display: flex;
    width: 50%;
    img{
      width: 100%;
    }
  }
}