@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";
@import "../../../src/assets/fonts/fonts";

.filter{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
  .title{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-family: SF-Bold;
    font-size: 15px;
    padding-left: 16px;
    border-bottom: 1px solid $lightColor;
  }
  .buttonBlock{
    width: 100%;
    display: flex;
    align-items: center;
    .clearBtn{
      cursor: pointer;
      width: 210px;
      height: 40px;
      margin: 20px;
      color:white;
      background-color:$redColor;
      border: 0;
      border-radius: 3px;
      &:hover{
        transition: all 0.3s ease-in-out;
        transform: scale(1.02);
      }
    }
  }
  .topArr{
    transform: rotate(-180deg)!important;
     svg{
       polygon{
         fill:$firstColor!important;
       }
     }
    }
}
@media screen and (max-width: 1024px){
  .filter{
    width: 30%;
  }

}
@media screen and (max-width: 700px){
  .filter{
    width: 100%;
    .buttonBlock{
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}