@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";


.header{
    width:$contentWidth;
    margin: 0 auto;
    height: 70px;
    @include spaceBetween;
    align-items: center;
}
.dropdown{
    display: none;
}
.burgerMenu{
    display: none;
}
.navigation{
    cursor: pointer;
    width: 60%;
    height: 70px;
    display: flex;
    align-items: baseline;
    .text{
        width: 60%;
        height: 100%;
        align-items: center;
        display: flex;
        margin-left: 45px;
        div{
            height: 70px;
            align-items: center;
            display: flex;
            margin-left: 30px;
            border-bottom:transparent solid 3px;
        }
        :hover{
            border-bottom: #A7093C solid 3px;
        }
    }
}
.headerActions{
    width: 25%;
    display: flex;
    align-items: center;
    button{
        display: none;
    }
    div{
        height: 100%;
        display: flex;
        svg{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        span{
            margin: 0 10px;
        }
    }

    .productCount{
        @include color;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 3px;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }
}
.whiteLogo{
    display: none;
}
.searchWrapper{
    align-items: center;
    width: 40%;
    height: 100%;
}

@media screen and(max-width: 1024px){
    .header{
        width: 100%;
        display: flex;
        color: white;
        @include color;
       position: fixed;
        align-items: center;
    }
    .navigation{
        margin-left: 30px;
      div{
          display: none;
      }
        .logo{
            display: none;
        }
        .whiteLogo{
            width: 200px;
            height: 75px;
            align-items: center;
            display: flex;
    }
        .text{
            display: none;
        }
}
    .menu{
       width: 100%;
        height: 100%;
        cursor: pointer;
        position: fixed;
        top: 70px;
    }
    .opacity{
        width: calc(100% - 300px);
        height: calc(100vh - 70px);
        position: fixed;
        background-color: black;
        opacity: 0.4;
    }
    .dropdown{
        width: 300px;
        margin-left: auto;
        height: calc(100vh - 70px);
       display: flex;
        justify-content: right;
        flex-direction: column;
        @include color;
        color: white;
        div{
            width: 80px;
            height: 30px;
            margin: 10px;
            margin-left: auto;
            svg{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
        }
    }
    .headerActions{
        width: calc(100% - 300px);
        display: flex;
        justify-content:flex-end;
        .productCount{
            width: 30px;
            height: 30px;
            padding: 3px;
            background-color: white;
            color: black;
            margin-left: 10px;
        }
        button{
            display: flex;
            margin: 20px;
            border: 0;
            @include color;
        }
    }
    .burgerMenu {
        display: none;
    }
    svg{
        path{
            fill: white;
        }
    }
}
@media screen and (max-width: 700px){
    .header{
        width: 100%;
        @include spaceBetween;
        @include color;
    }
    .headerActions{
        display: none;
    }
    .burgerMenu{
            cursor: pointer;
            border: 0;
            @include color;
            display: flex;
            margin: 20px;
        svg{
            display: flex;
        }
    }
}


