@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

/*
todo
 2. էլեմենտների սթայլերը կառուցել child-Ը parent-ի մեջ և ըստ հերթականության
 3. ստուգել և բոլոր անհրաժեշտ էլեմենտներին դնել cursor: pointer
 4. hover-ի ժամանակ տալ transition
 բացի 1-ից բոլոր կետերը ուղել մնացած բոլոր կոմպոնենտներում
*/
.headerWrapper{
    width: $contentWidth;
    margin: 0 auto;
}
.header{
    width:$contentWidth;
    margin: 0 auto;
    height: 70px;
    @include spaceBetween;
    align-items: center;
    .dropdown{
        display: none;
    }
}
.burgerMenu{
    display: none;
}
.navigation{
    /*
    todo
     2․ height-ը նաել Փոխել
    */
    width: 70%;
    height: 100%;
    @include itemsCenter;
    .text{
        width: 60%;
        height: 100%;
        @include aline-items;
        margin-left: 45px;
        div{
            cursor: pointer;
            height: 100%;
            @include aline-items;
            margin-left: 20px;
            border-bottom:transparent solid 3px;
        }
        :hover{
            border-bottom: $firstColor solid 3px;
            transition: top 1s ease-out 0.5s;
        }
    }
    .responsiveLogo{
        display: none;
    }
}
.headerActions{
    width: 35%;
    @include aline-items;
    justify-content: flex-end;
    button{
        display: none;
    }
    div{
        cursor: pointer;
        margin: 14px;
        height: 100%;
        @include spaceBetween;
        svg{
            height: 20px;
            margin-right: 10px;
            :hover{
                path{
                    fill: $firstColor;
                }
            }
        }
        span{
            margin: 0 10px;
        }
    }

    .productCount{
        background-color:$firstColor;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 3px;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }
    .basket{
        margin: 14px;
        color: black;
    }
}



@media screen and(max-width: 1024px){
    .header{
        width: 100%;
        @include itemsCenter;
        color: white;
       background-color: $firstColor;
       position: fixed;
        z-index: 8;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .navigation{
        margin-left: 30px;
      div{
          display: none;
      }
        .logo{
            display: none;
        }
        .responsiveLogo{
            width: 200px;
            height: 75px;
            @include aline-items;
        }
        .text{
            display: none;
        }
    }
    .menu{
       @include widthHeight;
        cursor: pointer;
        position: fixed;
        z-index: 8;
        top: 70px;
        .overlay{
            width: calc(100% - 300px);
            height: calc(100vh - 70px);
            position: fixed;
            background-color: black;
            opacity: 0.4;
        }
        .dropdown{
            width: 300px;
            margin-left: auto;
            height: calc(100vh - 70px);
            @include column;
            justify-content: right;
            background-color: $firstColor;
            color: white;
            div{
                width: 80px;
                height: 30px;
                margin: 10px;
                margin-left: auto;
                svg{
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                    path{
                        fill: #F3F4F6;
                    }
                }
            }
        }
        .search{
            svg{
                fill: white;
            }
        }
    }

    .headerActions{
        width: calc(100% - 300px);
        display: flex;
        justify-content:flex-end;
        .productCount{
            width: 30px;
            height: 30px;
            padding: 3px;
            background-color: white;
            color: black;
            margin-left: 10px;
        }
        button{
            display: flex;
            margin: 20px;
            border: 0;
            background-color: $firstColor;
        }
        .items{
            path{
                fill: white;
            }
        }
        .basket{
            color: white;
        }
    }

    .burgerMenu {
        display: none;
    }
}
@media screen and (max-width: 700px){
    .header{
        width: 100%;
        @include spaceBetween;
        background-color: $firstColor;

    }
    .headerActions{
        display: none;
    }
    .burgerMenu{
            cursor: pointer;
            border: 0;
            background-color: $firstColor;
            display: flex;
            margin: 20px;
        svg{
            display: flex;
        }
    }
}


