.nav{
    width: 1240px;
    display: flex;
    align-items: baseline;
    height: 60px;
    margin-top: 10px;
}
.map{
    margin-left: 30px;
    display: flex;
}
.bar{
    width: 65%;
   display: flex;
    justify-content: flex-end;
    margin-left: 20%;
}
.bar p{
    display: inline-block;
    margin-left: 50px;
}