@import "../../../../assets/styles/varieibls";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/fonts/fonts";

.components{
  font-family: SF-Regular;
  color: #75757B;
  cursor: pointer;
  div:hover{
    color: $pinkColor;
    transition:none;
  }
}