@import "../../assets/styles/mixins";
@import "../../assets/styles/varieibls";

.footer{
  width: 100%;
  background-color: $greyFirstColor;
 @include column;
  align-items: center;
}
.aboutUs{
  width: $contentWidth;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  align-items: center;
  @include spaceBetween;
  .adress{
    width: 20%;
    img{
      margin-bottom: 15px;
      cursor: pointer;
    }
    .txt{
      margin-bottom: 10px;
      color: $greyColor;

    }
    .flag{
      width: 70px;
      @include spaceBetween;
      align-items: center;
      svg{
        cursor: pointer;
      }
    }
  }
  .title{
    font-size: 15px;
    .arr{
      display: none;
    }
  }
  .comapny{
    width: 35%;
    @include spaceBetween;
  }
  .components{
    color: $greyColor;
    cursor: pointer;
    div:hover{
      color: $pinkColor;
      transition:none;
    }
  }
}

.line{
  width: 100%;
  border-bottom: 2px solid $greySecondColor;
}
.underLine{
  border-bottom: 2px solid $greySecondColor;
}

.subscribe{
  width: 100%;
  .sub{
    width: 100%;
    margin: 12px 0;
    span{
      color: $greyColor;
    }
  }
  .scribe{
    width: 100%;
    height: 40px;
    display: flex;
    .input{
      width: 70%;
      height: 100%;
      border: 0;
      outline: none;
    }
    input:placeholder-shown {
     padding: 8px;
    }
    .btn{
      cursor: pointer;
      width: 30%;
      height: 100%;
      background-color: $firstColor;
      border: 0;
      color: white;
    }
  }
  .follow{
    @include spaceBetween;
    align-items: baseline;
    border-bottom: 2px solid $greySecondColor;
    .icons{
      width: 100px;
      @include spaceBetween;
      .iconFacebook{
        svg{
          path{
            fill: #171A1E;
          }
          :hover{
            path{
              fill: #A7093C;
            }
          }
        }
      }
      svg{
        cursor: pointer;
        :hover{
          path{
            fill: #A7093C;
          }
        }
      }
    }
  }
}
.date{
  width: $contentWidth;
  margin: auto;
  height: 70px;
  align-items: center;
  @include spaceBetween;
  .text{
    color: $greyColor;
  }
}
.responsivLine{
  display: none;
}
.responsivSub{
  display: none;
}
.responsivCollapse{
  display: none;
}
.menuItem{
width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg{
    width: 30px;
  }
}

@media screen and (max-width: 1024px){
 .footer{
   width: 100%;
   @include column;
   .place{
     display: none;
   }
   .adress{
     display: none;
   }
   .underLine{
     display: none;
   }

   .sub{
     display: none;
   }
   .components{
     display: none;
   }
   .comapny{
     display: none;
     .title{
       display: none;
     }
   }
   .arr{
     display: flex;
   }
   .aboutUs{
    @include widthHeight;
   }
 }
  .date{
    width: 100%;
    padding: 20px;
  }
  .responsivBlok{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
    .responsivCollapse{
      display: flex;
      width: 100%;
      color: $greyColor;
    }
    .responsivSub{
      @include column;
      width: 100%;
    }
    .subscribe{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    .ant-collapse {
      width: 100%;
    }
    .follow{
      height: 60px;
      border-bottom: 1px solid #dadada;
    }
    .scribe{
      height: 50px;
      margin-top: 16px;
    }
    .title{
      margin-top: 20px;
      font-weight: bold;
    }
  }
  .line{
    margin-top: 40px;
  }
}
.languageChange{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span{
    color: black;
  }
}
@media screen and (max-width: 600px){
    .date{
      @include column;
      align-items: baseline;
    }
}