
@mixin color {
  background-color: #A7093C;
}
@mixin background-color{
  background-color: #F6F6F6;
}
@mixin max-width{
  width: 1440px;
}
@mixin spaceBetween{
  display: flex;
  justify-content: space-between;
}
@mixin column{
  display: flex;
  flex-direction: column;
}

