:root {
  --contentWidth: 1440px;
}


$contentWidth:var(--contentWidth);


@media (max-width: 1440px){
  :root {
    --contentWidth: 1200px;
  }
}
@media (max-width: 1240px){
  :root {
    --contentWidth: 1100px;
  }
}
@media (max-width: 1140px){
  :root {
    --contentWidth: 1000px;
  }
}