:root {
  --contentWidth: 1440px;
  --ferstColor:#A7093C;
  --secColor:#F6F6F6;
  --fontSize:60px;
  --secFontsize:15px;
}

$contentWidth:var(--contentWidth);
$fontSize:var(--fontSize);
$secFontsize:var(--secFontsize);

//-------Color-------
$firstColor:var(--ferstColor);
$secondColor:var(--secColor);
$whiteColor:#F8F8F8;
$lightColor:#C3C3C3;
$greyColor: #E1E1E1;
$darkGrey:#75757B;
$greyBackgroundColor:#F3F4F6;
$greyBorderColor:#B9BCCF;
$greyTextColor:#B3B3B3;
$pinkColor:#A6398E;
$blackColor:#171A1E;
$greenColor:#07D148;
$redColor:#FF4E4E;


@media (max-width: 1540px) {
  :root {
    --fontSize: 54px;
    --secFontsize: 20px;
  }
}

@media (max-width: 1500px){
  :root {
    --contentWidth: 1200px;
    --fontSize: 50px;
    --secFontsize: 16px;
  }
}
@media (max-width: 1240px){
  :root {
    --contentWidth: 1100px;
  }
}
@media (max-width: 1140px){
  :root {
    --contentWidth: 1000px;
    --secFontsize: 14px;
  }
}